doctype html
.container
    .row
        .col-sm-4.mb-2
            h2 Your Login Profile
            p.font-weight-bold Employee / Student Name: {{student.DisplayName}}
            p.font-weight-bold Employee / Student Id Number: {{student.EmployeeNumber}}
            //p.font-weight-bold Date of Birth: {{student.birthdate}}
            hr
        .col-sm-12.mb-2
            h2 Please enter the information below and click submit to save your responses.
            .row.padding-after
                .col-sm-6
                    p.font-weight-bold.mb-3 Reporting Person's Information
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='reportDate') Date of Report *
                        .input-group.p-has-icon
                            input#reportDate.form-control.bootcamp-input(type='text', name='reportDate', ui-mask='07/20/2020' ui-mask-placeholder ui-options="{clearOnBlur:false}" placeholder='07/20/2020' ng-model="student.reportDate" required)
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.reportDate.$touched  || SubmittedClicked')
                            .p-field-error(ng-if=" scholarshipAppForm.reportDate.$error.mask" ) Please enter a report date in this form 07/20/2020.
                            .p-field-error(ng-show=" scholarshipAppForm.reportDate.$error.required" ) Please enter your report date.

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='name') Name *
                        .input-group
                            input#name.form-control.bootcamp-input(type='text', name='name', placeholder='Enter name of person filing report' ng-model="student.name" required )
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.name.$touched  || SubmittedClicked')
                            .p-field-error(ng-show='scholarshipAppForm.name.$error.required') Please enter your name.

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='email') Email * (Receives report)
                        .input-group
                            input#email.form-control.bootcamp-input(type='email', name='email', placeholder='youremail@ccc.edu' ng-model="student.email" required )
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.email.$touched  || SubmittedClicked')
                            .p-field-error(ng-show='scholarshipAppForm.email.$error.email') Invalid CCC email.
                            .p-field-error(ng-show='scholarshipAppForm.email.$error.required') Please enter a CCC email.

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label(for='officePhone') Office Phone
                        .input-group
                            input#officePhone.form-control.bootcamp-input(type='text', name='officePhone', placeholder='999-999-9999' ng-model="student.officePhone")

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label(for='otherPhone') Other Phone
                        .input-group
                            input#otherPhone.form-control.bootcamp-input(type='text', name='otherPhone', placeholder='999-999-9999' ng-model="student.otherPhone")

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='college') College *
                        .input-group
                            select#college.custom-select.custom-select(name='college', ng-model='student.college', placeholder='None', required)
                                option Harold Washington
                                option Harry S Truman
                                option Kennedy-King
                                option Malcolm X
                                option Olive-Harvey
                                option Richard J. Daley
                                option Wilbur Wright
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.college.$touched')
                            .p-field-error(ng-show='scholarshipAppForm.college.$error.required') Please select your home college.

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label(for='roomNumber') Room #
                        .input-group
                            input#roomNumber.form-control.bootcamp-input(type='text', name='roomNumber', placeholder='T-123' ng-model="student.roomNumber")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='department') Department *
                        .input-group
                            input#department.form-control.bootcamp-input(type='text', name='department', placeholder='name of department' ng-model="student.department" required )
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.department.$touched  || SubmittedClicked')
                            .p-field-error(ng-show='scholarshipAppForm.department.$error.required') Please enter your department.

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='relationship') Relationship w/Person of Concern *
                        .input-group
                            input#relationship.form-control.bootcamp-input(type='text', name='relationship', placeholder='relationship with person of concern' ng-model="student.relationship" required )
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.relationship.$touched  || SubmittedClicked')
                            .p-field-error(ng-show='scholarshipAppForm.relationship.$error.required') Please enter your name.
                hr
            .row.padding-after
                .col-sm-6
                    p.font-weight-bold.mb-3 Student or Employee of Concern Information
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='seFirstName') First Name *
                        .input-group.p-has-icon
                            input#seFirstName.form-control.bootcamp-input(type='text', name='seFirstName', placeholder='student or employee first name' ng-model="student.seFirstName" required)
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seFirstName.$touched  || SubmittedClicked')
                            .p-field-error(ng-show=" scholarshipAppForm.seFirstName.$error.required" ) Please enter the student or employee of concern first name.

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='seMiddleName') Middle Name
                        .input-group
                            input#seMiddleName.form-control.bootcamp-input(type='text', name='seMiddleName', placeholder='student or employee middle name' ng-model="student.seMiddleName")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='seLastName') Last Name *
                        .input-group.p-has-icon
                            input#seLastName.form-control.bootcamp-input(type='text', name='seLastName', placeholder='student or employee last name' ng-model="student.seLastName" required)
                            span.p-field-cb
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seLastName.$touched  || SubmittedClicked')
                            .p-field-error(ng-show=" scholarshipAppForm.seLastName.$error.required" ) Please enter the student or employee of concern last name.

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label.font-weight-bold(for='personStatus') Person Status *
                        .input-group.p-has-icon
                            select#personStatus.custom-select.custom-select(name='personStatus', ng-model='student.personStatus', placeholder='None', required)
                                option Student
                                option Employee
                                option Other
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.personStatus.$touched')
                            .p-field-error(ng-show='scholarshipAppForm.personStatus.$error.required') Please select a person status.

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='otherStatus') If other, explain:
                        .input-group
                            input#otherStatus.form-control.bootcamp-input(type='text', name='otherStatus', placeholder='If other, explain' ng-model="student.otherStatus")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='studentId') Student/Employee ID (if applicable)
                        .input-group
                            input#studentId.form-control.bootcamp-input(type='text' name='studentId', placeholder='999999999', ng-model="student.studentId")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='seEmail') Student/Employer Email
                        .input-group
                            input#seEmail.form-control.bootcamp-input(type='email', name='seEmail', placeholder='youremail@ccc.edu' ng-model="student.seEmail")
                        div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seEmail.$touched')
                            .p-field-error(ng-show='scholarshipAppForm.seEmail.$error.pattern') Invalid email.

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label(for='sePhone') Student/Employer Phone (111-111-1111)
                        .input-group
                            input#sePhone.form-control.bootcamp-input(type='text', name='sePhone', placeholder='999.999.9999' ng-model="student.sePhone")
                hr
            .row.padding-after
                .col-sm-6
                    p.font-weight-bold.mb-3 Information about Situation Causing Concern
                    .form-group
                        label.bootcamp-input-label Choose one of the selection options below which best describes what you are reporting:
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical1.custom-control-input(type='radio', name='reportDescription', value='Hostile or disruptive behavior but without immediate threat to safety', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical1') Hostile or disruptive behavior but without immediate threat to safety
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical2.custom-control-input(type='radio', name='reportDescription', value='Behavior that indicates or suggests risk of self-harm but without apparent immediate threat to safety', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical2') Behavior that indicates or suggests risk of self-harm but without apparent immediate threat to safety
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical3.custom-control-input(type='radio', name='reportDescription', value='Inappropriate or concerning behavior that is not disruptive or only minimally disruptive', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical3') Inappropriate or concerning behavior that is not disruptive or only minimally disruptive
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical4.custom-control-input(type='radio', name='reportDescription', value='Behavior or appearance suggesting possible personal problems', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical4') Behavior or appearance suggesting possible personal problems
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical5.custom-control-input(type='radio', name='reportDescription', value='A person’s direct request for emotional and/or practical support', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical5') A person’s direct request for emotional and/or practical support
                        .custom-control.custom-radio.custom-control.mb-3
                            input#customRadioVertical6.custom-control-input(type='radio', name='reportDescription', value='Other', ng-model='student.reportDescription')
                            label.custom-control-label(for='customRadioVertical6') Other
                    hr.mb-3
                    p.font-weight-normal.mb-3
                        | To learn more about types of behaviors that might be concerning, visit:&nbsp;
                        a(href='http://www.ccc.edu/departments/Pages/Consultation-for-Faculty.aspx', title='Link to Consultation for Faculty Web Page') http://www.ccc.edu/departments/Pages/Consultation-for-Faculty.aspx
                        | .
                    hr.mb-3

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.font-weight-normal(for='concerningBehavior')
                            | Describe the concerning behavior, situation and/or incident. Be as objective as possible and focus
                            | on concrete observations.
                        textarea#concerningBehavior.form-control(placeholder='Describe the concerning behavior, situation and/or incident.', type='text', name='concerningBehavior', ng-model='student.concerningBehavior', rows='3')

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='SituationConcernDate') Select the date you became aware of situation causing concern for the student/employee?
                            input#SituationConcernDate.form-control.bootcamp-input(type='text', name='SituationConcernDate', placeholder='07/20/2020' ng-model="student.SituationConcernDate")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.bootcamp-input-label(for='SituationConcernTime') Time you became aware of situation causing concern for the student/employee?
                            input#SituationConcernTime.form-control.bootcamp-input(type='text', name='SituationConcernTime', placeholder='12:00 PM' ng-model="student.SituationConcernTime")

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.font-weight-normal(for='incidentAddressed')
                            | Was the concerning behavior, situation or incident addressed by you or anyone else? If so, how
                            | was the situation handled?
                        textarea#incidentAddressed.form-control(placeholder='Was the incident addressed by you or anyone else?', type='text', name='incidentAddressed', ng-model='student.incidentAddressed', rows='3')

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.font-weight-normal(for='concernsReported')
                            | Have you reported your concerns about the student/employee to anyone else?
                            | If so, to whom and when?
                        textarea#concernsReported.form-control(placeholder='Enter concerns reported about the student/employee if applicable.', type='text', name='concernsReported', ng-model='student.concernsReported', rows='3')

            .row.padding-after
                .col-md-6
                    .form-group
                        label.bootcamp-input-label(for='followupAction') Follow-Up Action Needed?
                        .input-group
                            select#followupAction.custom-select.custom-select(name='followupAction', ng-model='student.followupAction', placeholder='None')
                                option For your information only. No follow-up requested.
                                option Please provide me with suggested interventions.
                                option Please see Person of Concern regarding information.
                                option Have Wellness Center contact me for consultation.
                                option Other

            .row.padding-after
                .col-sm-6
                    .form-group
                        label.font-weight-normal(for='otherStatus2')
                            | If other follow-up action is required, please provide an explanation as to why it is needed:
                        textarea#otherStatus2.form-control(placeholder='Enter other follow-up action explanation if needed.', type='text', name='otherStatus2', ng-model='student.otherStatus2', rows='3')
                    hr.mb-3
                    p.font-weight-normal.mb-3
                        | Note: Attach any files that support your report by clicking the button below (optional). File
                        | upload size must be 4MB or less, and the file formats must be Adobe PDF (.pdf).
                    hr.mb-3
            button.btn.btn-primary.btn-lg(type='submit' ng-hide='Submitted' ng-click='submitApplication()') Submit