doctype html
.container
    .row
        .col-sm-6.mb-2
            h2.mb-3 Reporting Person's Login Profile
            p.font-weight-bold Name: {{student.DisplayName}}
            p.font-weight-bold Id Number: {{student.EmployeeNumber}}
            p.font-weight-bold Email Address: {{student.EmailAddress}}
            hr
        .col-sm-12.mb-2
            h2.mb-3 Please enter the information below and click submit to save your responses.
            form(method='post', name='scholarshipAppForm')
                .row.padding-after
                    .col-sm-6
                        p.font-weight-bold.mb-3 Reporting Person's Submission Information (* required)
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='reportDate') Date of Report *
                            .input-group
                                input#reportDate.form-control.bootcamp-input(type="date" ui-mask='07/20/2020' ui-mask-placeholder ui-options="{clearOnBlur:false}" placeholder='07/20/2020' ng-model="student.reportDate" required)
                            span.p-field-cb
                            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.reportDate.$touched')
                                .p-field-error(ng-if=" scholarshipAppForm.reportDate.$error.mask" ) Please enter a report date in this form 07/20/2020.
                                .p-field-error(ng-show=" scholarshipAppForm.reportDate.$error.required" ) Please enter your report date.

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label(for='officePhone') Office Phone
                            .input-group
                                input#officePhone.form-control.bootcamp-input(type='text', name='officePhone', placeholder='999-999-9999...optional...' ng-model="student.officePhone")

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label(for='otherPhone') Other Phone
                            .input-group
                                input#otherPhone.form-control.bootcamp-input(type='text', name='otherPhone', placeholder='999-999-9999...optional...' ng-model="student.otherPhone")

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='college') College *
                            .input-group
                                select#college.custom-select.custom-select(name='college', ng-model='student.college', placeholder='None', required)
                                    option Harold Washington
                                    option Harry S Truman
                                    option Kennedy-King
                                    option Malcolm X
                                    option Olive-Harvey
                                    option Richard J. Daley
                                    option Wilbur Wright
                                    option District Office
                                div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.college.$touched')
                                    .p-field-error(ng-show='scholarshipAppForm.college.$error.required') Please select your home college.

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label(for='roomNumber') Room #
                            .input-group
                                input#roomNumber.form-control.bootcamp-input(type='text', name='roomNumber', placeholder='Enter room number...optional...' ng-model="student.roomNumber")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='department') Department *
                            .input-group
                                input#department.form-control.bootcamp-input(type='text', name='department', placeholder='Enter department name...' ng-model="student.department" required )
                            span.p-field-cb
                            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.department.$touched')
                                .p-field-error(ng-show='scholarshipAppForm.department.$error.required') Please enter your department.

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='relationship') Relationship w/Person of Concern *
                            .input-group
                                input#relationship.form-control.bootcamp-input(type='text', name='relationship', placeholder='Enter relationship with person of concern...' ng-model="student.relationship" required )
                            span.p-field-cb
                            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.relationship.$touched')
                                .p-field-error(ng-show='scholarshipAppForm.relationship.$error.required') Please enter your name.
                        hr
                .row.padding-after
                    .col-sm-6
                        p.font-weight-bold.mb-3 Student or Employee of Concern Information
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='seFirstName') First Name *
                            .input-group
                                input#seFirstName.form-control.bootcamp-input(type='text', name='seFirstName', placeholder='Enter student/employee of concern first name...' ng-model="student.seFirstName" required)
                            span.p-field-cb
                            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seFirstName.$touched')
                                .p-field-error(ng-show=" scholarshipAppForm.seFirstName.$error.required" ) Please enter the student or employee of concern first name.

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='seMiddleName') Middle Name
                            .input-group
                                input#seMiddleName.form-control.bootcamp-input(type='text', name='seMiddleName', placeholder='Enter student/employee of concern middle name...optional...' ng-model="student.seMiddleName")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='seLastName') Last Name *
                            .input-group
                                input#seLastName.form-control.bootcamp-input(type='text', name='seLastName', placeholder='Enter student/employee of concern last name...' ng-model="student.seLastName" required)
                            span.p-field-cb
                            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seLastName.$touched')
                                .p-field-error(ng-show=" scholarshipAppForm.seLastName.$error.required" ) Please enter the student or employee of concern last name.

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label.font-weight-bold(for='personStatus') Person Status *
                            .input-group
                                select#personStatus.custom-select.custom-select(name='personStatus', ng-model='student.personStatus', placeholder='None', required)
                                    option Student
                                    option Employee
                                    option Other
                                div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.personStatus.$touched')
                                    .p-field-error(ng-show='scholarshipAppForm.personStatus.$error.required') Please select a person status.

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='otherStatus') If other person status, explain:
                            .input-group
                                input#otherStatus.form-control.bootcamp-input(type='text', name='otherStatus', placeholder='If other person status...optional...' ng-model="student.otherStatus")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='studentId') Student/Employee ID
                            .input-group
                                input#studentId.form-control.bootcamp-input(type='text' name='studentId', placeholder='999999999...optional...', ng-model="student.studentId")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='seEmail') Student/Employer Email
                            .input-group
                                input#seEmail.form-control.bootcamp-input(type='email', name='seEmail', placeholder='youremail@ccc.edu...optional...' ng-model="student.seEmail")
                            //div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.seEmail.$touched')
                                //.p-field-error(ng-show='scholarshipAppForm.seEmail.$error.pattern') Invalid email.

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label(for='sePhone') Student/Employer Phone
                            .input-group
                                input#sePhone.form-control.bootcamp-input(type='text', name='sePhone', placeholder='999-999-9999...optional...' ng-model="student.sePhone")
                        hr
                .row.padding-after
                    .col-sm-6
                        p.font-weight-bold.mb-3 Information about Situation Causing Concern
                        .form-group
                            label.bootcamp-input-label Choose one of the selection options below which best describes what you are reporting:
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical1.custom-control-input(type='radio', name='reportDescription', value='Hostile or disruptive behavior but without immediate threat to safety', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical1') Hostile or disruptive behavior but without immediate threat to safety
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical2.custom-control-input(type='radio', name='reportDescription', value='Behavior that indicates or suggests risk of self-harm but without apparent immediate threat to safety', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical2') Behavior that indicates or suggests risk of self-harm but without apparent immediate threat to safety
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical3.custom-control-input(type='radio', name='reportDescription', value='Inappropriate or concerning behavior that is not disruptive or only minimally disruptive', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical3') Inappropriate or concerning behavior that is not disruptive or only minimally disruptive
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical4.custom-control-input(type='radio', name='reportDescription', value='Behavior or appearance suggesting possible personal problems', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical4') Behavior or appearance suggesting possible personal problems
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical5.custom-control-input(type='radio', name='reportDescription', value='A person’s direct request for emotional and/or practical support', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical5') A person’s direct request for emotional and/or practical support
                            .custom-control.custom-radio.custom-control.mb-3
                                input#customRadioVertical6.custom-control-input(type='radio', name='reportDescription', value='Other', ng-model='student.reportDescription')
                                label.custom-control-label(for='customRadioVertical6') Other
                        hr.mb-3
                        p.font-weight-normal.mb-3
                        | To learn more about types of behaviors that might be concerning, visit:&nbsp;
                        a(href='http://www.ccc.edu/departments/Pages/Consultation-for-Faculty.aspx', title='Link to Consultation for Faculty Web Page') http://www.ccc.edu/departments/Pages/Consultation-for-Faculty.aspx
                        | .
                        hr.mb-3

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.font-weight-normal(for='concerningBehavior')
                            | Describe the concerning behavior, situation and/or incident. Be as objective as possible and focus
                            | on concrete observations.
                            .input-group
                                textarea#concerningBehavior.form-control(placeholder='Describe the concerning behavior...optional...', type='text', name='concerningBehavior', ng-model='student.concerningBehavior', rows='3')

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='SituationConcernDate') Enter the date you became aware of situation causing concern for the student/employee?
                            //input#SituationConcernDate.form-control.bootcamp-input(type='text', name='SituationConcernDate', placeholder='07/20/2020...optional...' ng-model="student.SituationConcernDate")
                            .input-group
                                input#SituationConcernDate.form-control.bootcamp-input(type="date" ui-mask='07/20/2020' ui-mask-placeholder ui-options="{clearOnBlur:false}" placeholder='07/20/2020' ng-model="student.SituationConcernDate")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label(for='SituationConcernTime') Enter the time you became aware of situation causing concern for the student/employee?
                            //input#SituationConcernTime.form-control.bootcamp-input(type='text', name='SituationConcernTime', placeholder='12:00 PM...optional...' ng-model="student.SituationConcernTime")
                            .input-group
                                input#SituationConcernTime.form-control.bootcamp-input(type="time" min="00:00" max="12:00"  name='SituationConcernTime', placeholder='12:00 PM...optional...' ng-model="student.SituationConcernTime")

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.font-weight-normal(for='incidentAddressed')
                            | Was the concerning behavior, situation or incident addressed by you or anyone else? If so, how
                            | was the situation handled?
                            .input-group
                                textarea#incidentAddressed.form-control(placeholder='Enter if behavior was addressed...optional...', type='text', name='incidentAddressed', ng-model='student.incidentAddressed', rows='3')

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.font-weight-normal(for='concernsReported')
                            | Have you reported your concerns about the student/employee to anyone else?
                            | If so, to whom and when?
                            .input-group
                                textarea#concernsReported.form-control(placeholder='Enter whether the concerns were reported...optional...', type='text', name='concernsReported', ng-model='student.concernsReported', rows='3')

                .row.padding-after
                    .col-md-6
                        .form-group
                            label.bootcamp-input-label(for='followupAction') Follow-Up Action Needed?
                            .input-group
                                select#followupAction.custom-select.custom-select(name='followupAction', ng-model='student.followupAction', placeholder='None')
                                    option For your information only. No follow-up requested.
                                    option Please provide me with suggested interventions.
                                    option Please see Person of Concern regarding information.
                                    option Have Wellness Center contact me for consultation.
                                    option Other

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.font-weight-normal(for='otherStatus2')
                            | If other follow-up action is required, please provide an explanation as to why it is needed:
                            .input-group
                                textarea#otherStatus2.form-control(placeholder='Enter if other follow-up action is needed...optional...', type='text', name='otherStatus2', ng-model='student.otherStatus2', rows='3')

                .row.padding-after
                    .col-sm-6
                        .form-group
                            label.bootcamp-input-label.mb-3(for='supportDocsOne')
                            | <strong>Note:</strong> Attach any files that support your report by clicking the button below (optional). File
                            | upload size must be 4MB or less, and the accepted file formats are .pdf, .doc, .docx, .jpg, .png, .gif.
                            .p-file-wrap
                                input#supportDocsOne.bootcamp-input(type='file', name='fileSupportDocOne' ng-model="files.fileSupportDocOne" ngf-select="" ngf-validate="{size: {max: '4MB'}, pattern:'.pdf,.doc,.docx,.jpg,.png,.gif'}" ng-change="setFileName('docOne',files.fileSupportDocOne.name);")
                                .input-group
                                    span.input-group-btn
                                        button.btn(type='button') browse
                                    |
                                    input#docOne.form-control.p-ignore-field(type='text', name="supportingDocument" placeholder='resume', readonly='readonly', ng-model="student.docOne")
                                div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.fileSupportDocOne.$touched')
                                    .p-field-error(ng-show='scholarshipAppForm.fileSupportDocOne.$error.pattern') File type not allowed.
                                    .p-field-error(ng-show='scholarshipAppForm.fileSupportDocOne.$error.maxSize') File is too large.
                            //label.bootcamp-input-label(for='documentUploadTwo')
                            //.input-group
                                input#documentUploadTwo.bootcamp-input(type='file', name='documentUploadTwo' ng-model="files.supportingDocs" ngf-select="" ngf-validate="{size: {max: '4MB'}, pattern:'.pdf,.doc,.docx,.jpg,.png,.gif'}" ng-change="setFileName('docTwo',files.supportingDocs.name);")
                                //div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.documentUploadTwo.$touched')
                                    .p-field-error(ng-show='scholarshipAppForm.documentUploadTwo.$error.pattern') File type not allowed.
                                    .p-field-error(ng-show='scholarshipAppForm.documentUploadTwo.$error.maxSize') File is too large.
                            //label.bootcamp-input-label(for='documentUploadThree')
                            //.input-group
                                input#documentUploadThree.bootcamp-input(type='file', name='documentUploadThree' ng-model="files.supportingDocs" ngf-select="" ngf-validate="{size: {max: '4MB'}, pattern:'.pdf,.doc,.docx,.jpg,.png,.gif'}" ng-change="setFileName('docThree',files.supportingDocs.name);")
                                //div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.documentUploadThree.$touched')
                                    .p-field-error(ng-show='scholarshipAppForm.documentUploadThree.$error.pattern') File type not allowed.
                                    .p-field-error(ng-show='scholarshipAppForm.documentUploadThree.$error.maxSize') File is too large.

            button.btn.btn-primary.btn-lg(type='submit' ng-hide='Submitted' ng-click='submitApplication()') Submit