doctype html
.container
    .row
        .col-md-12.mb-5
            h3 Thank you for interest in City Colleges of Chicago Foundation Scholarships!
            br
            p
                | The deadline to apply for scholarships for the Spring 2020 academic term was Monday, February 3, 2020 at 11:59pm.
                br
            p
                | Please visit our&nbsp;
                a(href='https://www.ccc.edu/departments/Pages/External-Scholarships.aspx', title='Link to the City Colleges of Chicago External Scholarships Web Page, https://www.ccc.edu/departments/Pages/External-Scholarships.aspx') External Scholarships
                | &nbsp;page for additional resources.
                br
            p
                | Please check back periodically for updates on the Fall 2020 semester application process.
                br
            p
                | Best wishes for a successful spring semester.
                br
                br
                | Sincerely,
                br
                | Scholarship Services

