doctype html
.row.padding-after
    .col-sm-6
        p.font-weight-bold.mb-3 Reporting Person's Information
        .form-group
            label.bootcamp-input-label(for='reportDate') Date of Report *
            .input-group.p-has-icon
                input#reportDate.form-control.bootcamp-input(type='text', name='reportDate', ui-mask='07/20/2020' ui-mask-placeholder ui-options="{clearOnBlur:false}" placeholder='07/20/2020' ng-model="student.reportDate" required)
                span.p-field-cb
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.reportDate.$touched  || SubmittedClicked')
                .p-field-error(ng-if=" scholarshipAppForm.reportDate.$error.mask" ) Please enter a report date in this form 07/20/2020.
                .p-field-error(ng-show=" scholarshipAppForm.reportDate.$error.required" ) Please enter your report date.

.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='name') Name *
            .input-group
                input#name.form-control.bootcamp-input(type='text', name='name', placeholder='name of person filing report' ng-model="student.name" required )
                span.p-field-cb
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.name.$touched  || SubmittedClicked')
                .p-field-error(ng-show='scholarshipAppForm.name.$error.required') Please enter your name.

.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='email') Email * (Receives report)
            .input-group
                input#email.form-control.bootcamp-input(type='email', name='email', placeholder='youremail@ccc.edu' ng-model="student.email" required )
                span.p-field-cb
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.email.$touched  || SubmittedClicked')
                .p-field-error(ng-show='scholarshipAppForm.email.$error.email') Invalid CCC email.
                .p-field-error(ng-show='scholarshipAppForm.email.$error.required') Please enter a CCC email.

.row.padding-after
    .col-md-6
        .form-group
            label.bootcamp-input-label(for='officePhone') Office Phone
            .input-group
                input#officePhone.form-control.bootcamp-input(type='text', name='officePhone', placeholder='999-999-9999' ng-model="student.officePhone")

.row.padding-after
    .col-md-6
        .form-group
            label.bootcamp-input-label(for='otherPhone') Other Phone
            .input-group
                input#otherPhone.form-control.bootcamp-input(type='text', name='otherPhone', placeholder='999-999-9999' ng-model="student.otherPhone")

.row.padding-after
    .col-md-6
        .form-group
            label.bootcamp-input-label(for='college') College *
            .input-group
                select#college.custom-select.custom-select(name='college', ng-model='student.college', placeholder='None', required)
                    option Harold Washington
                    option Harry S Truman
                    option Kennedy-King
                    option Malcolm X
                    option Olive-Harvey
                    option Richard J. Daley
                    option Wilbur Wright
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.college.$touched')
                .p-field-error(ng-show='scholarshipAppForm.college.$error.required') Please select your home college.

.row.padding-after
    .col-md-6
        .form-group
            label.bootcamp-input-label(for='roomNumber') Room #
            .input-group
                input#roomNumber.form-control.bootcamp-input(type='text', name='roomNumber', placeholder='T-123' ng-model="student.roomNumber")

.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='department') Department *
            .input-group
                input#department.form-control.bootcamp-input(type='text', name='department', placeholder='name of department' ng-model="student.department" required )
                span.p-field-cb
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.department.$touched  || SubmittedClicked')
                .p-field-error(ng-show='scholarshipAppForm.department.$error.required') Please enter your department.

.row.padding-after
    .col-sm-6
        .form-group
            label.bootcamp-input-label(for='relationship') Relationship w/Person of Concern *
            .input-group
                input#relationship.form-control.bootcamp-input(type='text', name='relationship', placeholder='relationship with person of concern' ng-model="student.relationship" required )
                span.p-field-cb
            div(ng-show='scholarshipAppForm.$submitted || scholarshipAppForm.relationship.$touched  || SubmittedClicked')
                .p-field-error(ng-show='scholarshipAppForm.relationship.$error.required') Please enter your name.

